# Directories
**bin/
**bin-int/

**/bin/
bin-int/
Intermediates/

# Files
*.user
*.log

# Visual Studio
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

*.json

scripts/__pycache__